body {
  background-color: #1a0f3b;
  position: relative; }
  
.preloader{
  min-width:100%;
  min-height:100vh;
  background-color: #1a0f3b;
  position: relative; 
  z-index:100000;
}
.main {
  width: 500px;
  height: 50vh;
  top: 150px;
  left: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }

.father {
  display: flex;
  justify-content: center;
  align-items: center; }

.ball {
  width: 1px;
  margin: 0 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: rot 2s linear infinite; }
  .ball:after, .ball:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute; }

.-uno:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #c0392b; }
.-uno:after {
  background-color: #c0392b;
  animation: dot-out 2s linear infinite; }

.-dos:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #f39c12;
  animation-delay: .05s; }
.-dos:after {
  background-color: #f39c12;
  animation: dot-out 2s linear infinite;
  animation-delay: .05s; }

.-tres:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #f1c40f;
  animation-delay: .1s; }
.-tres:after {
  background-color: #f1c40f;
  animation: dot-out 2s linear infinite;
  animation-delay: .1s; }

.-cuatro:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #def10f;
  animation-delay: .15s; }
.-cuatro:after {
  background-color: #def10f;
  animation: dot-out 2s linear infinite;
  animation-delay: .15s; }

.-cinco:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #2ecc71;
  animation-delay: .2s; }
.-cinco:after {
  background-color: #2ecc71;
  animation-delay: .2s;
  animation: dot-out 2s linear infinite; }

.-seis:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #34dbd0;
  animation-delay: .25s; }
.-seis:after {
  background-color: #34dbd0;
  animation: dot-out 2s linear infinite;
  animation-delay: .25s; }

.-siete:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #3498db;
  animation-delay: .3s; }
.-siete:after {
  background-color: #3498db;
  animation: dot-out 2s linear infinite;
  animation-delay: .3s; }

.-ocho:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #3488db;
  animation-delay: .35s; }
.-ocho:after {
  background-color: #3488db;
  animation: dot-out 2s linear infinite;
  animation-delay: .35s; }

.-nueve:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #3434db;
  animation-delay: .4s; }
.-nueve:after {
  background-color: #3434db;
  animation: dot-out 2s linear infinite;
  animation-delay: .4s; }

.-diez:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #9b59b6;
  animation-delay: .45s; }
.-diez:after {
  background-color: #9b59b6;
  animation: dot-out 2s linear infinite;
  animation-delay: .45s; }

.-once:before {
  animation: dot-out-before 2s linear infinite;
  background-color: #d834db;
  animation-delay: .5s; }
.-once:after {
  background-color: #d834db;
  animation: dot-out 2s linear infinite;
  animation-delay: 0.5s; }

.stick {
  width: 1px;
  background-color: blue;
  position: relative;
  display: flex;
  justify-content: center;
  animation: palo 2s linear infinite; }
  .stick:after, .stick:before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute; }
  .stick:before {
    bottom: 0; }
  .stick:after {
    top: -5px; }

.uno {
  background-color: #3434db; }
  .uno:after, .uno:before {
    background-color: #c0392b; }

.dos {
  background-color: #9b59b6;
  animation-delay: .05s; }
  .dos:after, .dos:before {
    background-color: #f39c12; }

.tres {
  background-color: #d834db;
  animation-delay: .10s; }
  .tres:after, .tres:before {
    background-color: #f1c40f; }

.cuatro {
  background-color: #3498db;
  animation-delay: .15s; }
  .cuatro:after, .cuatro:before {
    background-color: #def10f; }

.cinco {
  background-color: #34dbd0;
  animation-delay: .20s; }
  .cinco:after, .cinco:before {
    background-color: #2ecc71; }

.seis {
  background-color: #c0392b;
  animation-delay: .25s; }
  .seis:after, .seis:before {
    background-color: #34dbd0; }

.siete {
  background-color: #2ecc71;
  animation-delay: .30s; }
  .siete:after, .siete:before {
    background-color: #3498db; }

.ocho {
  background-color: #f1c40f;
  animation-delay: .35s; }
  .ocho:after, .ocho:before {
    background-color: #3488db; }

.nueve {
  background-color: #f39c12;
  animation-delay: .40s; }
  .nueve:after, .nueve:before {
    background-color: #3434db; }

.diez {
  background-color: #def10f;
  animation-delay: .45s; }
  .diez:after, .diez:before {
    background-color: #9b59b6; }

.once {
  background-color: #3488db;
  animation-delay: .5s; }
  .once:after, .once:before {
    background-color: #d834db; }

@keyframes rot {
  0% {
    transform: rotate(-80deg); }
  70% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes palo {
  0% {
    height: 0px; }
  10% {
    height: 40vh; }
  50% {
    height: 40vh; }
  60% {
    height: 25vh; }
  70% {
    height: 0px; }
  100% {
    height: 0px; } }
@keyframes dot-out {
  0% {
    bottom: 0; }
  10% {
    bottom: -30px; }
  60% {
    bottom: -30px; }
  70% {
    bottom: 0; }
  100% {
    bottom: 0; } }
@keyframes dot-out-before {
  0% {
    top: 0; }
  10% {
    top: -30px; }
  60% {
    top: -30px; }
  70% {
    top: -5px; }
  100% {
    top: -5px; } }

/*# sourceMappingURL=index.css.map */
